body {
    display: flex;
    justify-content: center;
    background-color: #ded899;
    background-image: url("./45-degree-fabric-dark.png");
}

h1 {
    align-self: center;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: #dce4c0;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
